@use "../index.scss" as *;

.errorWrapper {
  background-color: $redPrimary;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0 2rem;
  font-weight: 600;
}
