@use "../index" as *;

.listadoCitas {
  width: 90%;
  margin: 0 auto;
}

.listadoCitas__textContainer {
  text-align: center;

  & h2 {
    font-weight: 900;
  }

  & p {
    font-weight: 700;
  }
}

.textContainer__spanColor {
  color: $primaryColor;
}

.listadoCitas__listContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.listContainer__cita {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 1rem;

  & p {
    margin: 0;

    & span {
      font-weight: 700;
    }
  }
}

.cita__btnWrapper {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0 0;

  & button {
    padding: 0.6rem 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 3px;
  }

  & .btnWrapper__edit {
    background-color: $primaryColor;
  }

  & .btnWrapper__delete {
    background-color: $redPrimary;
  }
}
